<h3 class="text-center contactus">Contact Us </h3>
<div class="container">
  
  <div class=row>
  

    <div class="col-4 offset-md-4">
      <div class="card card-body bg-light">
        <%= form_for "/contacts" do |f| %>
          <div class="form-group">
            <%= f.label :name, class:'form-label' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :email, class:'form-label' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :comments, class:'form-label' %>
            <%= f.text_area :comments, class: 'form-control' %>
          </div>
          <div>
            <%= f.submit 'Submit', class:'btn-default' %>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>